<nav class="navbar navbar-fixed-bottom">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-right">
                <li class="active">Email Address: janhaviredkar@gmail.com <span class="sr-only">(Current)</span></li>

                <li class="active">Phone Number:(972)876-6855 <span class="sr-only"></span></li>


            </ul>

        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>